body {
    background-color: black;
    text-align: center;
}

h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color:white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color:white;
  text-align: center;
}

p {
  font-family: Verdana;
  font-size: 21px;
  font-weight: normal;
  color:gray;
}

.link {
  font-size: 16px;
  color: aquamarine;
}

.footer {
  text-align: right;
}
